# Ignore PhpStorm files
/.idea/

# Ignore Visual Studio Code files
/.vscode/

# Ignore files under Mac
.DS_Store

# Ignore test output
/.phplint-cache
/.phplint.cache

# Ignore Docker files
/Dockerfile
/Dockerfile.tpl

# Ignore Composer files
/composer.lock
/composer.phar
/vendor/
