# Ignore PhpStorm files
/.idea/

# Ignore Visual Studio Code files
/.vscode/

# Ignore files under Mac
.DS_Store

# Ignore generated Docker files
/Dockerfile

# Ignore file phpunit.xml
/phpunit.xml

# Ignore Composer files
/composer.lock
/composer.phar
/vendor/
