/.dockerignore          export-ignore
/.gitattributes         export-ignore
/.github                export-ignore
/.gitignore             export-ignore
/.php-cs-fixer.dist.php export-ignore
/Dockerfile.tpl         export-ignore
/default.conf           export-ignore
/docker-compose.yml     export-ignore
/index.php              export-ignore
/phpstan.neon.dist      export-ignore
/phpunit.xml.dist       export-ignore
/tests                  export-ignore
