services:
    web:
        image: nginx:mainline
        volumes:
            - ./default.conf:/etc/nginx/conf.d/default.conf
            - .:/var/www/html
        links:
            - php
    php:
        build: .
        volumes:
            # The container works fine without this volume. However, adding this volume allows us to update the PHP
            # script for testing purpose while the Docker instances are running.
            - ./index.php:/var/www/html/index.php
            - ./src:/var/www/html/src
            - ./tests:/var/www/html/tests
