<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        backupGlobals="false"
        bootstrap="tests/bootstrap.php"
        verbose="true"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage/>
  <testsuite name="default">
    <directory suffix="Test.php">tests/CrowdStar</directory>
  </testsuite>
</phpunit>
